<mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button *ngIf="loginDisplay && currentUser.role == 1" [routerLink]="['customers']">Customers</a>
  <a mat-button [routerLink]="['movies']" *ngIf="loginDisplay">Movies</a>

  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
  <button mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button>
  <!-- <button mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button> -->

</mat-toolbar>
<div class="container" *ngIf="loginDisplay">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet></router-outlet>
</div>